@font-face {
  font-family: 'Vollkorn';
  src: url('./fonts/Vollkorn-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 1 999;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('./fonts/Vollkorn-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 1 999;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn SC';
  src: url('./fonts/VollkornSC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Almendra';
  src: url('./fonts/Almendra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Almendra';
  src: url('./fonts/Almendra-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Almendra';
  src: url('./fonts/Almendra-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Almendra';
  src: url('./fonts/Almendra-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Almendra SC';
  src: url('./fonts/AlmendraSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.border-paper,
.window-app:not(.journal-entry),
.sheet.journal-entry .journal-entry-content,
.chat-message,
.splittermond .list.masteries.splittermond-tooltip::before,
.sheet.journal-entry .journal-entry-content .example,
.chat-message.emote,
.chat-message.whisper,
.chat-message.blind,
.splittermond .list.masteries#splittermond-tooltip::before {
  border: 3px solid transparent;
  border-image: var(--border-image-paper, url(../../systems/splittermond/images/border-paper-opt-2.png) 16 16);
  border-image-width: 16px;
  border-image-outset: 3px;
  border-radius: 0;
  border-image-repeat: round;
}
.border-paper-small,
.health-focus-data,
.splittermond-tooltip,
.splittermond .list-actions,
.taglist-item-actions,
.splittermond.dialog-check .skill,
#splittermond-tooltip {
  border: 2px solid transparent;
  border-image: var(--border-image-paper-small, url(../../systems/splittermond/images/border-paper-small.png) 8 8);
  border-image-width: 8px;
  border-image-outset: 1px;
  border-radius: 0;
  border-image-repeat: repeat;
}
.border-corner-1,
.splittermond-tooltip::before,
#splittermond-tooltip::before {
  border: 1px solid transparent;
  border-image: var(--border-image-corner-1, url(../../systems/splittermond/images/border-corner-1.png) 16 16);
  border-image-width: 16px;
}
.border-corner-2 {
  border: 1px solid transparent;
  border-image: var(--border-image-corner-2, url(../../systems/splittermond/images/border-small2.png) 8 8);
  border-image-width: 8px;
}
.border-wobbly-line,
.tabs-style,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
#autoexpanddummy:hover,
input[type="text"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="date"]:active,
input[type="time"]:active,
#autoexpanddummy:active,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
#autoexpanddummy:focus,
.filepicker-body > .filepicker-body,
.filepicker-body > .filepicker-body > .directory,
form h1.form-header,
form h2.form-header,
form h3.form-header,
.splittermond .derived-attribute-list,
.splittermond .derived-attribute,
.splittermond header .damage-reduction,
.splittermond .list-header,
.solars,
.lunars,
.telars,
li.taglist-item,
ul.checkbox-list li label,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs),
.directory .directory-header .header-search input:hover,
.directory .directory-header .header-search input:active,
.directory .directory-header .header-search input:focus,
.splittermond .sheet-navigation,
.splittermond .subnav {
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
}
.border-wobbly-line-double,
.bar,
.splittermond .properties-editor h3 {
  border: 3px solid transparent;
  border-image: var(--border-image-wobbly-line-double, url(../../systems/splittermond/images/double-border_small_2.png) 6 6);
  border-image-width: 6px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
}
.border-double-corner-1,
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark) .window-content,
.sheet.journal-entry .journal-entry-content .box-blue {
  border: 4px solid transparent;
  border-image: var(--border-image-double-corner-1, url(../../systems/splittermond/images/double-border-corner-1.png) 21 21);
  border-image-width: 21px;
  border-image-outset: 1px;
}
.shiny-background,
.tabs-style,
.splittermond .derived-attribute-list,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs),
.splittermond .sheet-navigation,
.splittermond .subnav {
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  background-blend-mode: multiply;
}
.button-style,
.tabs-style .item,
select,
input[type="checkbox"],
.directory .action-buttons button,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item,
#chat-controls .roll-type-select,
.splittermond .sheet-navigation .item,
.splittermond .sheet-navigation-item,
.splittermond .subnav .item,
.splittermond .subnav-item {
  border: 3px solid transparent;
  border-image: var(--border-image-wobbly-line-double, url(../../systems/splittermond/images/double-border_small_2.png) 6 6);
  border-image-width: 6px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  color: var(--color-text);
  font-family: "Almendra";
  height: unset;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 2px;
  background-origin: border-box;
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), linear-gradient(var(--color-secondary), var(--color-secondary)), url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  background-clip: padding-box, padding-box, border-box, border-box;
  background-blend-mode: normal, multiply, normal, normal, normal;
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
}
.button-style:hover,
.button-style:focus,
.tabs-style .item:hover,
.tabs-style .item:focus,
select:hover,
select:focus,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
.directory .action-buttons button:hover,
.directory .action-buttons button:focus,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:hover,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:focus,
#chat-controls .roll-type-select:hover,
#chat-controls .roll-type-select:focus,
.splittermond .sheet-navigation .item:hover,
.splittermond .sheet-navigation .item:focus,
.splittermond .sheet-navigation-item:hover,
.splittermond .sheet-navigation-item:focus,
.splittermond .subnav .item:hover,
.splittermond .subnav .item:focus,
.splittermond .subnav-item:hover,
.splittermond .subnav-item:focus {
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.button-style:active,
.tabs-style .item:active,
.tabs-style .item.active,
.tabs-style .item.active:hover,
select:active,
input[type="checkbox"]:active,
.directory .action-buttons button:active,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:active,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active:hover,
#chat-controls .roll-type-select:active,
.splittermond .sheet-navigation .item:active,
.splittermond .sheet-navigation .item.active,
.splittermond .sheet-navigation .item.active:hover,
.splittermond .sheet-navigation-item:active,
.splittermond .sheet-navigation-item.active,
.splittermond .sheet-navigation-item.active:hover,
.splittermond .subnav .item:active,
.splittermond .subnav .item.active,
.splittermond .subnav .item.active:hover,
.splittermond .subnav-item:active,
.splittermond .subnav-item.active,
.splittermond .subnav-item.active:hover {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.button-style:disabled,
.tabs-style .item:disabled,
select:disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled:checked,
input[type="checkbox"]:disabled:hover,
.directory .action-buttons button:disabled,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:disabled,
#chat-controls .roll-type-select:disabled,
.splittermond .sheet-navigation .item:disabled,
.splittermond .sheet-navigation-item:disabled,
.splittermond .subnav .item:disabled,
.splittermond .subnav-item:disabled {
  color: inherit;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: none;
  opacity: 0.8;
}
.button-style:disabled::before,
.tabs-style .item:disabled::before,
select:disabled::before,
input[type="checkbox"]:disabled::before,
.directory .action-buttons button:disabled::before,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:disabled::before,
#chat-controls .roll-type-select:disabled::before,
.splittermond .sheet-navigation .item:disabled::before,
.splittermond .sheet-navigation-item:disabled::before,
.splittermond .subnav .item:disabled::before,
.splittermond .subnav-item:disabled::before {
  background: transparent;
}
.system-splittermond {
  --color-text: #f0f0e0;
  --color-text_rgb: 240, 240, 224;
  --color-text-secondary: #000000;
  --color-text-secondary_rgb: 0, 0, 0;
  --color-active-text: #30739a;
  --color-active-text_rgb: 48, 115, 154;
  --color-active-text-secondary: #30739a;
  --color-active-text-secondary_rgb: 48, 115, 154;
  --color-primary: #2e72b0;
  --color-primary_rgb: 46, 114, 176;
  --color-tertiary: #39464e;
  --color-tertiary_rgb: 57, 70, 78;
  --color-secondary: #65717b;
  --color-secondary_rgb: 101, 113, 123;
  --color-health: #892100;
  --color-health_rgb: 137, 33, 0;
  --color-focus: #2e72b0;
  --color-focus_rgb: 46, 114, 176;
  --color-success: #458900;
  --color-success_rgb: 69, 137, 0;
  --color-grazing-hit: #ff9900;
  --color-grazing-hit_rgb: 255, 153, 0;
  --color-fail: #892100;
  --color-fail_rgb: 137, 33, 0;
  --color-shiny-border-light: hsla(202, 10%, 90%, 0.8);
  --color-shiny-border-dark: hsla(202, 10%, 60%, 0.8);
  --background-parchment: url(../../ui/parchment.jpg) repeat;
  --background-parchment-splittermond: url(../../systems/splittermond/images/background_bw6r.jpg) top right no-repeat;
  --background-parchment-splittermond-blend-mode: multiply;
  --background-denim: url(../../ui/denim075.png) repeat;
  --background-denim-splittermond: url(../../systems/splittermond/images/background_alpha_blueish_opt.png) bottom left / 400px no-repeat;
  --background-denim-splittermond-blend-mode: normal;
  --color-border-highlight-alt: var(--color-primary);
  --color-border-highlight: var(--color-primary);
  --color-shadow-highlight: var(--color-primary);
  --color-shadow-primary: var(--color-primary);
  --color-text-hyperlink: var(--color-primary);
}
.system-splittermond[data-theme="dark"] {
  --background-parchment: url(../../systems/splittermond/images/parchment_dark.jpg) repeat;
  --color-shiny-border-light: hsla(202, 10%, 70%, 0.8);
  --color-shiny-border-dark: hsla(202, 10%, 40%, 0.8);
  --color-text: #f0f0e0;
  --color-text_rgb: 240, 240, 224;
  --color-text-secondary: #f0f0e0;
  --color-text-secondary_rgb: 240, 240, 224;
  --color-tertiary: #39464e;
  --color-tertiary_rgb: 57, 70, 78;
  --color-secondary: #373e43;
  --color-secondary_rgb: 55, 62, 67;
  --background-color-emote: #1c1b17;
  --background-color-emote_rgb: 28, 27, 23;
  --background-color-whisper: #16161d;
  --background-color-whisper_rgb: 22, 22, 29;
  --background-color-blind: #17171c;
  --background-color-blind_rgb: 23, 23, 28;
  --color-success: #59b300;
  --color-success_rgb: 89, 179, 0;
  --color-fail: #cc3000;
  --color-fail_rgb: 204, 48, 0;
}
.system-splittermond[data-theme="splittermond-blue"] {
  --background-parchment: url(../../systems/splittermond/images/parchment.jpg) repeat;
  --background-parchment-splittermond: url(../../systems/splittermond/images/background7.jpg) top right no-repeat;
  --color-text: #ebf0f5;
  --color-text_rgb: 235, 240, 245;
  --color-text-secondary: #303336;
  --color-text-secondary_rgb: 48, 51, 54;
}
body {
  font-family: "Vollkorn";
  font-variant-numeric: lining-nums;
}
button,
form button,
.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default {
  border: 3px solid transparent;
  border-image: var(--border-image-wobbly-line-double, url(../../systems/splittermond/images/double-border_small_2.png) 6 6);
  border-image-width: 6px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  color: var(--color-text);
  font-family: "Almendra";
  height: unset;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 2px;
  background-origin: border-box;
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), linear-gradient(var(--color-secondary), var(--color-secondary)), url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  background-clip: padding-box, padding-box, border-box, border-box;
  background-blend-mode: normal, multiply, normal, normal, normal;
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
}
button:hover,
form button:hover,
.dialog .dialog-buttons button:hover,
.dialog .dialog-buttons button.default:hover,
button:focus,
form button:focus,
.dialog .dialog-buttons button:focus,
.dialog .dialog-buttons button.default:focus {
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
button:active,
form button:active,
.dialog .dialog-buttons button:active,
.dialog .dialog-buttons button.default:active {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
button:disabled,
form button:disabled,
.dialog .dialog-buttons button:disabled,
.dialog .dialog-buttons button.default:disabled {
  color: inherit;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: none;
  opacity: 0.8;
}
button:disabled::before,
form button:disabled::before,
.dialog .dialog-buttons button:disabled::before,
.dialog .dialog-buttons button.default:disabled::before {
  background: transparent;
}
button.button-inline,
input[type="checkbox"],
button.file-picker,
button.grid-config,
button.capture-position {
  display: inline-block;
  font-size: 12px;
  /*
    width: 28px;
    height: 28px;
    */
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  width: 22px;
  height: 22px;
  aspect-ratio: 1;
  padding: 0;
  vertical-align: middle;
  line-height: 22px;
}
button.button-inline:before,
input[type="checkbox"]:before,
button.file-picker:before,
button.grid-config:before,
button.capture-position:before {
  display: none;
  content: unset;
}
button.button-inline > i,
input[type="checkbox"] > i,
button.file-picker > i,
button.grid-config > i,
button.capture-position > i {
  margin: 0;
}
a:hover {
  text-shadow: 0 0 8px var(--color-primary);
}
h1,
h2,
h3,
h4 {
  border-bottom: none;
}
h1,
h2,
h3 {
  font-family: "Almendra";
}
img {
  /*.shiny-border;*/
  border: none;
}
.app,
.token-action-bar-char-stats {
  color: var(--color-text);
  background: var(--background-denim-splittermond), var(--background-denim);
  background-blend-mode: var(--background-denim-splittermond-blend-mode);
}
.app > * {
  z-index: 0;
}
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark) {
  color: var(--color-text-secondary);
  background: var(--background-parchment);
}
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark) .window-content {
  color: var(--color-text-secondary);
  background: var(--background-parchment);
  margin: 5px;
  margin-top: 0px;
  padding: 8px;
  position: relative;
  /*
        &:before:extend(.border-wobbly-line-double) {
            content: "";
            position:absolute;
            top:0px; left: 0px; bottom: 0px; right: 0px;
            z-index: -1;
        }
        */
}
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark) .window-resizable-handle {
  bottom: -8px;
  right: -12px;
  border: none;
  background: none;
  color: var(--color-text-secondary);
}
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark) .window-resizable-handle .fas.fa-arrows-alt-h:before {
  content: "\f054";
}
.window-app:not(.sidebar-popout):not(.journal-entry):not(.dark).minimized .window-header {
  border: none;
}
.window-app:not(.journal-entry) .window-header {
  border: none;
}
.window-app:not(.journal-entry) .window-header .window-title {
  font-family: "Almendra";
  font-weight: normal;
  max-width: unset;
}
.sheet.journal-entry .journal-entry-content {
  border-radius: 0;
  color: var(--color-text-secondary);
  background: var(--background-parchment);
}
/*
.sheet.journal-entry .journal-entry-pages:extend(.border-double-corner-1) {
    margin: 5px;
    margin-top: 0px;
    .scrollable {
        padding: 8px;
    }
}
*/
.sheet.journal-entry .journal-entry-pages {
  margin: 5px;
  margin-top: 0px;
}
.sheet.journal-entry .journal-entry-pages .scrollable {
  padding: 8px;
}
.window-app.sheet.splittermond:not(.dark):not(.journal-entry) .window-content {
  background: var(--background-parchment-splittermond), var(--background-parchment);
  background-position: top right;
  background-blend-mode: var(--background-parchment-splittermond-blend-mode);
  background-clip: padding-box;
}
.chat-message,
.chat-message.emote,
.chat-message.whisper,
.chat-message.blind {
  background: var(--background-parchment);
  border-image-repeat: repeat;
  z-index: 0;
  position: relative;
}
.chat-message .message-header {
  color: rgba(var(--color-text-secondary_rgb), 0.7);
}
.chat-message,
.chat-message.emote,
.chat-message.whisper,
.chat-message.blind {
  color: var(--color-text-secondary);
}
.chat-message.emote,
.chat-message.whisper,
.chat-message.blind {
  background: url(../../systems/splittermond/images/grunge_alpha.png);
}
.chat-message.emote {
  background-color: var(--background-color-emote, #f3edde);
}
.chat-message.whisper {
  background-color: var(--background-color-whisper, #e8e8ef);
}
.chat-message.blind {
  background-color: var(--background-color-blind, #f5eaf5);
}
.tabs-style,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs),
.splittermond .sheet-navigation,
.splittermond .subnav {
  padding: 2px;
  justify-content: stretch;
}
.tabs-style .item,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item,
.splittermond .sheet-navigation .item,
.splittermond .sheet-navigation-item,
.splittermond .subnav .item,
.splittermond .subnav-item {
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  margin: 0px;
  flex-grow: 1;
}
.tabs-style .item::before,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item::before,
.splittermond .sheet-navigation .item::before,
.splittermond .sheet-navigation-item::before,
.splittermond .subnav .item::before,
.splittermond .subnav-item::before {
  content: unset;
}
.tabs-style .item:not(:last-child),
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item:not(:last-child),
.splittermond .sheet-navigation .item:not(:last-child),
.splittermond .sheet-navigation-item:not(:last-child),
.splittermond .subnav .item:not(:last-child),
.splittermond .subnav-item:not(:last-child) {
  margin-right: 2px;
}
.tabs-style .item.active,
.tabs-style .item.active:hover,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active:hover,
.splittermond .sheet-navigation .item.active,
.splittermond .sheet-navigation .item.active:hover,
.splittermond .sheet-navigation-item.active,
.splittermond .sheet-navigation-item.active:hover,
.splittermond .subnav .item.active,
.splittermond .subnav .item.active:hover,
.splittermond .subnav-item.active,
.splittermond .subnav-item.active:hover {
  border-color: transparent;
}
.tabs-style .item.active,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active,
.splittermond .sheet-navigation .item.active,
.splittermond .sheet-navigation-item.active,
.splittermond .subnav .item.active,
.splittermond .subnav-item.active {
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), linear-gradient(var(--color-primary), var(--color-primary)), url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  box-shadow: none;
}
.tabs-style .item.active:after,
.tabs:not(#sidebar-tabs):not(.sidebar .tabs) .item.active:after,
.splittermond .sheet-navigation .item.active:after,
.splittermond .sheet-navigation-item.active:after,
.splittermond .subnav .item.active:after,
.splittermond .subnav-item.active:after {
  content: "\f0d8";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  position: absolute;
  bottom: -6px;
  width: 100%;
  left: 0;
  color: var(--color-shiny-border-light);
  text-shadow: 0 -1px 3px black;
  opacity: 0.8;
}
#sidebar-tabs {
  border-bottom-color: var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}
#sidebar-tabs > .item.active {
  border-color: var(--color-primary);
  box-shadow: inset 0 0 6px var(--color-primary);
  text-shadow: 0 0 10px var(--color-primary);
  color: var(--color-text);
}
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  box-shadow: 0 0 10px var(--color-primary);
}
/*
#sidebar-tabs:extend(.tabs) {
    border-width: 0px;
    text-shadow: none;
    box-shadow: none;
    flex: 0 0 27px;
    margin: 2px;
    .item:extend(.tabs .item all) {
        border-radius: 0px;
        border: none;
        //border-width: 1px;
        
        line-height: unset;
        height: 27px;
        width: 27px;
        //padding: 4px;

        margin: 0px;

        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 2px;
        }

        &.active:extend(.tabs .item):extend(.tabs .item:active) {
            border: none;

            &::before {
                content: unset;
                display: none;
            }
        };

        &:first-child {
            border-top-left-radius: 5px;
        }
    }

    .collapse {
        line-height: unset;
        height: 27px;
        padding-top: 5px;
        padding-left: 5px;
        flex: unset;
    }
}
*/
#chat-form textarea {
  background: var(--background-parchment-splittermond), var(--background-parchment);
  background-blend-mode: var(--background-parchment-splittermond-blend-mode);
  background-size: cover, auto;
}
#chat-form textarea:focus {
  box-shadow: 0 0 6px var(--color-primary);
  outline: none;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
#autoexpanddummy,
.directory .directory-header .header-search input {
  padding: 1px 3px;
  border-width: 4px;
  background: url(../../systems/splittermond/images/noise6.png);
  background-position: center center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
  border-radius: 4px;
  color: var(--color-text-secondary);
  text-shadow: none;
  font-family: "Vollkorn";
  font-variant-numeric: lining-nums;
  height: unset;
}
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
#autoexpanddummy:hover,
input[type="text"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="date"]:active,
input[type="time"]:active,
#autoexpanddummy:active,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
#autoexpanddummy:focus,
.directory .directory-header .header-search input:hover,
.directory .directory-header .header-search input:active,
.directory .directory-header .header-search input:focus {
  background: url(../../systems/splittermond/images/noise6.png);
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}
input[type="text"]:active,
input[type="number"]:active,
input[type="password"]:active,
input[type="date"]:active,
input[type="time"]:active,
#autoexpanddummy:active,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
#autoexpanddummy:focus,
.directory .directory-header .header-search input:active,
.directory .directory-header .header-search input:focus {
  box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.3);
}
input[type="text"].autoexpand,
input[type="number"].autoexpand,
input[type="password"].autoexpand,
input[type="date"].autoexpand,
input[type="time"].autoexpand,
#autoexpanddummy.autoexpand,
.directory .directory-header .header-search input.autoexpand {
  box-sizing: content-box;
}
.dark input[type="text"],
.dark input[type="number"],
.dark input[type="password"],
.dark input[type="date"],
.dark input[type="time"],
.dark .directory .directory-header .header-search input {
  background: url(../../systems/splittermond/images/noise6.png) center center, var(--background-parchment);
}
.dark input[type="text"]:hover,
.dark input[type="number"]:hover,
.dark input[type="password"]:hover,
.dark input[type="date"]:hover,
.dark input[type="time"]:hover,
.dark input[type="text"]:focus,
.dark input[type="number"]:focus,
.dark input[type="password"]:focus,
.dark input[type="date"]:focus,
.dark input[type="time"]:focus,
.dark .directory .directory-header .header-search input:hover,
.dark .directory .directory-header .header-search input:focus {
  background: url(../../systems/splittermond/images/noise6.png) center center, var(--background-parchment);
}
select,
#chat-controls .roll-type-select {
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
  text-decoration: none;
}
select:before,
#chat-controls .roll-type-select:before {
  content: unset;
  display: none;
}
select option,
#chat-controls .roll-type-select option {
  background-color: #f0f0e0;
  color: #000000;
  font-family: "Vollkorn";
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:active {
  -webkit-filter: none;
  background-color: rgba(var(--color-primary_rgb), 0.8);
}
input[type="checkbox"]:checked:after,
input[type="checkbox"]:active:after {
  content: "\f00c";
  text-decoration: none;
}
label.checkbox {
  display: inline-flex;
}
label.checkbox input[type="checkbox"] {
  margin-left: 3px;
  width: 20px;
  height: 20px;
  position: static;
}
.filepicker-body > .filepicker-body > .directory {
  margin: 3px;
}
.filepicker-body > .filepicker-body > .directory li {
  border: none;
  box-shadow: inset 0 -1px 1px 0px rgba(0, 0, 0, 0.3), inset 0 1px 1px 0px rgba(255, 255, 255, 0.3);
}
/*
h1, h2, h3, .window-header .window-title {
    &::first-letter {
        font-size: 160%;
        line-height: 0.2;
        vertical-align: -50%;
    }
    
}
*/
form h1.form-header,
form h2.form-header,
form h3.form-header {
  margin: 0 0 5px;
  padding: 3px 0;
  color: var(--color-text-secondary);
}
.directory .directory-header {
  line-height: unset;
}
.directory .directory-header .header-search input {
  background: url(../../systems/splittermond/images/noise6.png) center center, var(--background-parchment);
}
.directory .directory-header .header-search input:hover,
.directory .directory-header .header-search input:focus {
  background: url(../../systems/splittermond/images/noise6.png) center center, var(--background-parchment);
}
.directory .directory-list .directory-item.context,
.directory .directory-list .directory-item.active {
  border-color: var(--color-primary);
}
form .notes,
form .hint {
  color: rgba(var(--color-text-secondary_rgb), 0.7);
}
.editor {
  flex: 1;
  justify-self: stretch;
  align-self: stretch;
  height: 100%;
  min-height: 100px;
}
:root {
  scrollbar-color: none var(--background-parchment);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  scrollbar-color: none var(--background-parchment);
}
::-webkit-scrollbar-thumb {
  outline: none;
  /* border-radius: 3px; */
  background: #782e22;
  border: 1px solid #ff6400;
  background: url(../../systems/splittermond/images/noise6.png), url(../../systems/splittermond/images/grunge_alpha.png), var(--background-parchment);
  background-blend-mode: overlay;
  border: 2px solid transparent;
  border-image: url(../../systems/splittermond/images/double-border_small.png) 2 2;
  border-image-width: 2px;
  border-image-outset: 0px;
  border-image-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  box-shadow: unset;
}
a.rollable,
a.request-skill-check,
a.add-tick,
a.entity-link,
a.inline-roll,
a.pdflink {
  background: var(--background-parchment);
  padding: 1px 4px;
  border: 1px solid rgba(var(--color-text-secondary_rgb), 0.5);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
a.rollable i,
a.request-skill-check i,
a.add-tick i,
a.entity-link i,
a.inline-roll i,
a.pdflink i {
  color: rgba(var(--color-text-secondary_rgb), 0.5);
}
#client-settings nav.tabs {
  padding: 2px;
}
#client-settings section.content {
  border: none;
}
.system-splittermond .filepicker .current-dir button {
  border: 3px solid transparent;
  border-image: var(--border-image-wobbly-line-double, url(../../systems/splittermond/images/double-border_small_2.png) 6 6);
  border-image-width: 6px;
  color: var(--color-text);
  font-family: "Almendra";
  height: unset;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 2px;
  background-origin: border-box;
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), linear-gradient(var(--color-secondary), var(--color-secondary)), url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  background-clip: padding-box, padding-box, border-box, border-box;
  background-blend-mode: normal, multiply, normal, normal, normal;
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
}
.system-splittermond .filepicker .current-dir button:hover,
.system-splittermond .filepicker .current-dir button:focus {
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.system-splittermond .filepicker .current-dir button:active {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.system-splittermond .filepicker .current-dir button:disabled {
  color: inherit;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: none;
  opacity: 0.8;
}
.system-splittermond .filepicker .current-dir button:disabled::before {
  background: transparent;
}
.system-splittermond .prosemirror menu {
  background: transparent;
}
.system-splittermond .prosemirror menu .pm-dropdown,
.system-splittermond .prosemirror menu button {
  border: 3px solid transparent;
  border-image: var(--border-image-wobbly-line-double, url(../../systems/splittermond/images/double-border_small_2.png) 6 6);
  border-image-width: 6px;
  color: var(--color-text);
  font-family: "Almendra";
  height: unset;
  line-height: 1.5;
  padding-top: 2px;
  padding-bottom: 2px;
  background-origin: border-box;
  background-image: url(../../systems/splittermond/images/grunge_alpha.png), linear-gradient(var(--color-secondary), var(--color-secondary)), url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  background-clip: padding-box, padding-box, border-box, border-box;
  background-blend-mode: normal, multiply, normal, normal, normal;
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
  transition: box-shadow 0.1s;
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
  border: 1px solid transparent;
  border-image: var(--border-image-wobbly-line, url(../../systems/splittermond/images/double-border_small_2.png) 3 3);
  border-image-width: 3px;
  border-image-outset: 1px;
  border-image-repeat: repeat;
}
.system-splittermond .prosemirror menu .pm-dropdown:hover,
.system-splittermond .prosemirror menu button:hover,
.system-splittermond .prosemirror menu .pm-dropdown:focus,
.system-splittermond .prosemirror menu button:focus {
  box-shadow: inset 0 -8px 8px 0px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.system-splittermond .prosemirror menu .pm-dropdown:active,
.system-splittermond .prosemirror menu button:active {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.system-splittermond .prosemirror menu .pm-dropdown:disabled,
.system-splittermond .prosemirror menu button:disabled {
  color: inherit;
  background: transparent;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: none;
  opacity: 0.8;
}
.system-splittermond .prosemirror menu .pm-dropdown:disabled::before,
.system-splittermond .prosemirror menu button:disabled::before {
  background: transparent;
}
.system-splittermond .prosemirror menu button.active {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 3px #000000, 0px -1px 0px #000000, 0px 1px 0px #ffffff;
}
.system-splittermond .prosemirror menu .pm-dropdown ul {
  color: var(--color-text-secondary);
}
.system-splittermond .prosemirror menu .pm-dropdown ul li {
  text-shadow: none;
}
.splittermond-inline-label-input {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.sheet input[type="text"].character-name,
.sheet input[type="text"].item-name,
.sheet .directory .directory-header .header-search input.character-name,
.sheet .directory .directory-header .header-search input.item-name {
  font-size: 24px;
  font-family: "Almendra";
  height: auto;
  margin: 0;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 100%;
  flex: 1;
}
.sheet .item-name,
.sheet.npc .character-name {
  color: var(--color-text-secondary);
}
.sheet .item-name::first-letter,
.sheet.npc .character-name::first-letter {
  color: var(--color-active-text-secondary);
  font-weight: bold;
}
.sheet .item-type {
  font-family: "Almendra";
  font-weight: normal;
  text-transform: uppercase;
  padding: 3px;
}
.splittermond .experience {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
.splittermond .experience .bar {
  flex-basis: 100%;
}
.splittermond .experience-label {
  flex: 1;
  margin-left: 6px;
}
.splittermond .experience-value {
  flex: 1;
  text-align: right;
}
.splittermond .experience-value input {
  text-align: center;
}
.splittermond .moonsign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  position: relative;
  margin: auto;
  /*
        .moonsign-add{
            width: 120px;
            text-overflow: ellipsis;
            
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .moonsign-info{            
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        */
}
.splittermond .moonsign-splinterpoints {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 10px;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 3px black;
}
.splittermond .moonsign-splinterpoints input {
  width: 30px;
  text-align: right;
  color: white;
  text-shadow: 0 0 3px black;
}
.splittermond .moonsign-splinterpoints input:disabled {
  color: white;
}
.splittermond .moonsign-splinterpoints input:hover {
  text-shadow: 0 0 5px black;
}
.splittermond .moonsign-splinterpoints input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px black;
}
.splittermond .moonsign-splinterpoints input.autoexpand {
  box-sizing: content-box;
}
.splittermond .moonsign-splinterpoints span {
  display: block;
  width: 40px;
}
.splittermond .moonsign-splinterpoints button {
  opacity: 0;
}
.splittermond .moonsign-splinterpoints:hover button {
  opacity: 1;
}
.splittermond .moonsign-image {
  width: 48px;
  height: 48px;
  filter: opacity(0.5);
}
.splittermond .moonsign-label {
  text-align: center;
}
.splittermond .derived-attribute-list {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -1px;
  padding: 2px;
  gap: 2px;
}
.splittermond .derived-attribute,
.splittermond header .damage-reduction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  min-height: 26px;
  background: var(--background-parchment);
  /*
        input {
            margin: -@paddingSmall;
        }
        */
}
.splittermond .derived-attribute label,
.splittermond header .damage-reduction label {
  min-width: 35px;
}
.splittermond .derived-attribute span,
.splittermond header .damage-reduction span,
.splittermond .derived-attribute input,
.splittermond header .damage-reduction input {
  width: 25px;
}
.splittermond .derived-attribute > *,
.splittermond header .damage-reduction > * {
  text-align: center;
}
.splittermond .derived-attribute#defense label,
.splittermond .derived-attribute#mindresist label,
.splittermond .derived-attribute#bodyresist label {
  cursor: pointer;
}
.bar {
  border-width: 4px;
  background-image: url(../../systems/splittermond/images/noise6.png), repeating-linear-gradient(60deg, var(--color-shiny-border-dark), var(--color-shiny-border-light), var(--color-shiny-border-dark));
  width: 100%;
  height: 10px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  padding: 0px;
  background-clip: border-box, border-box, padding-box;
}
.bar > div {
  width: 0%;
  height: 100%;
  background: url(../../systems/splittermond/images/noise6.png), url(../../systems/splittermond/images/grunge_alpha.png);
  background-color: var(--color-primary);
}
.bar > .channeled {
  background: repeating-linear-gradient(45deg, rgba(var(--color-primary_rgb), 0.3), rgba(var(--color-primary_rgb), 0.3) 5px, var(--color-primary) 5px, var(--color-primary) 10px);
}
.bar > .exhausted {
  opacity: 0.5;
}
.bar-health,
.bar-focus {
  height: 14px;
}
.bar-health > div,
.bar-focus > div {
  box-shadow: 0 0 5px inset rgba(0, 0, 0, 0.3);
}
.bar-health > div {
  background-color: var(--color-health);
}
.bar-health > .channeled {
  background: repeating-linear-gradient(45deg, rgba(var(--color-health_rgb), 0.3), rgba(var(--color-health_rgb), 0.3) 5px, var(--color-health) 5px, var(--color-health) 10px);
}
.bar-with-value {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.bar-with-value .value {
  position: absolute;
  font-size: 14px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  line-height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  color: white;
  left: 12.5%;
  z-index: 2;
  background: url(../../systems/splittermond/images/noise6.png), url(../../systems/splittermond/images/grunge_alpha.png);
  background-blend-mode: normal;
  background-color: var(--color-primary);
}
.bar-with-value .value-max {
  position: absolute;
  right: 0px;
  line-height: 18px;
  top: -14px;
  opacity: 0.5;
}
.bar-with-value-health .value {
  background-color: var(--color-health);
}
.health-focus-headline {
  display: flex;
  grid-template-columns: auto 3.5em 105px 105px;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
}
.health-focus-headline h3 {
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
}
.health-focus-data {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  padding: 5px;
  padding-top: 42px;
  background: var(--background-parchment);
  left: -5px;
  right: -5px;
  top: -5px;
  z-index: -1;
  gap: 3px;
}
.health-focus-data label {
  text-align: center;
}
.health-focus-data .value {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.health-focus-data .value span,
.health-focus-data .value input {
  display: block;
  text-align: center;
  width: 50px;
}
.health-focus-data .row {
  flex-basis: 100%;
}
.health-focus-data .list {
  flex-basis: 100%;
}
.health-focus-data .list .value,
.health-focus-data .list .costs {
  width: 50px;
  margin-right: 30px;
  text-align: center;
}
.health-focus-data .list .value {
  line-height: 14px;
  font-size: 18px;
}
#health .health-focus-data {
  padding-top: 70px;
}
.health-focus {
  position: relative;
  z-index: 200;
}
.health-focus > .health-focus-data {
  opacity: 0;
  visibility: hidden;
}
.health-focus:hover > .health-focus-data,
.health-focus.hover > .health-focus-data,
.health-focus:hover > .wound-malus > label,
.health-focus.hover > .wound-malus > label {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.health-focus:not(.hover):not(:hover) > .health-focus-data,
.health-focus:not(.hover):not(:hover) > .wound-malus > label {
  transition: visibility 0.2s, opacity 0.2s;
  transition-delay: 0s;
}
.health-focus:not(.hover):hover > .health-focus-data,
.health-focus:not(.hover):hover > .wound-malus > label {
  transition: visibility 0.2s, opacity 0.2s;
  transition-delay: 0.3s;
}
.health-focus-data-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wound-malus {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 3px;
  flex-wrap: wrap;
}
.wound-malus label {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  position: absolute;
  visibility: hidden;
}
.wound-malus-level {
  border-right: 1px solid rgba(var(--color-text-secondary_rgb), 0.3);
  position: relative;
  height: 5px;
  text-align: center;
  color: rgba(var(--text-color-secondary), 0.5);
  flex: 1;
  font-size: 12px;
  margin-bottom: 10px;
}
.wound-malus-level:first-child {
  border-right-color: transparent;
}
.wound-malus-level-active {
  color: var(--text-color-secondary);
  font-weight: bold;
  font-size: 14px;
}
.splittermond-tooltip,
#splittermond-tooltip {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 7px;
  background: var(--background-parchment);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  text-shadow: none;
  z-index: 100000;
  background-clip: border-box;
  margin: 1px;
}
.splittermond-tooltip::before,
#splittermond-tooltip::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 8px;
  background-clip: border-box;
}
.splittermond-tooltip p,
#splittermond-tooltip p {
  max-width: 400px;
}
.splittermond-tooltip p:first-child,
#splittermond-tooltip p:first-child {
  margin-top: 0;
}
.splittermond-tooltip p:last-child,
#splittermond-tooltip p:last-child {
  margin-bottom: 0;
}
#splittermond-tooltip .formula,
.tooltip-part .formula {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#splittermond-tooltip .formula > *,
.tooltip-part .formula > * {
  margin: 3px;
}
#splittermond-tooltip .formula .formula-part,
.tooltip-part .formula .formula-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#splittermond-tooltip .formula .formula-part .description,
.tooltip-part .formula .formula-part .description {
  font-family: 'Signika';
  font-size: 10px;
}
#splittermond-tooltip .formula .formula-part .value,
.tooltip-part .formula .formula-part .value {
  font-weight: bold;
}
#splittermond-tooltip .formula .formula-part.malus,
.tooltip-part .formula .formula-part.malus {
  color: var(--color-fail);
}
#splittermond-tooltip .formula .formula-part.bonus,
.tooltip-part .formula .formula-part.bonus {
  color: var(--color-success);
}
#splittermond-tooltip {
  display: block;
}
/*
.splittermond-tooltip:extend(#splittermond-tooltip) {
    display: none;
    
    position: absolute;
    min-width: 160px;
    top: 2em;
    padding: @paddingMedium;
    background: url(../../systems/splittermond/images/parchment.jpg) repeat fixed;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    text-shadow: none;
    z-index: 1000;
    
}
*/
.splittermond .sheet-navigation {
  display: flex;
  line-height: 26px;
}
.splittermond.sheet.actor .sheet-navigation {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 7px;
}
.splittermond .sheet-navigation-item {
  flex: 1;
  text-align: center;
}
.splittermond .subnav {
  display: flex;
  line-height: 26px;
}
.splittermond .subnav-item {
  flex: 1;
  text-align: center;
}
.splittermond .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  position: relative;
  padding: 3px;
}
.splittermond .list-actions {
  position: absolute;
  right: 0px;
  opacity: 0;
  transition: opacity 0.5s;
  background: var(--background-parchment);
  font-size: 12px;
  display: inline-flex;
  z-index: 100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.splittermond *:hover > .list-actions {
  opacity: 1;
}
.splittermond .list-header,
.splittermond .list-item {
  display: flex;
  flex-direction: row;
  min-height: 28px;
  padding-left: 3px;
  padding-right: 3px;
}
.splittermond .list-header > *,
.splittermond .list-item > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.splittermond .list-header > *:first-child,
.splittermond .list-item > *:first-child {
  flex: 1;
  justify-content: flex-start;
}
.splittermond .list-header > *:first-child > *,
.splittermond .list-item > *:first-child > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list-header > img:first-child + *,
.splittermond .list-item > img:first-child + * {
  flex: 1;
  justify-content: flex-start;
}
.splittermond .list-header > img:first-child + * > *,
.splittermond .list-item > img:first-child + * > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list-header > h3,
.splittermond .list-item > h3 {
  display: inline-block;
  margin: 0;
}
.splittermond .list-header > h3:last-child,
.splittermond .list-item > h3:last-child {
  text-align: center;
}
.splittermond .list-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  background: var(--background-parchment), url(../../systems/splittermond/images/noise6.png);
  background-blend-mode: multiply;
}
.splittermond .list-header *:not(:first-child) {
  color: rgba(var(--color-text-secondary_rgb), 0.7);
}
.splittermond .list-body {
  display: block;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  max-width: unset;
  top: 0px;
  left: 0px;
}
.splittermond .list-item {
  min-height: 28px;
  /* border: 1px solid transparent; */
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, rgba(var(--color-text-secondary_rgb), 0.3), transparent) 0 0 100% 0;
  /*
        &:nth-child(odd),
        &.odd {
            background-color: rgba(var(--color-text-secondary_rgb), 0.05);
        }

        &.even {
            background-color: unset;
        }
        */
  /*
        input[type="checkbox"] {
            width: @fontSizeNormal;
            height: @fontSizeNormal;
            margin-top: @paddingSmall;
        }
        */
}
.splittermond .list-item:hover,
.splittermond .list-item.hover {
  background: linear-gradient(to right, transparent, rgba(var(--color-primary_rgb), 0.1), transparent), url(../../systems/splittermond/images/noise6.png);
  background-blend-mode: multiply;
}
.splittermond .list-item input {
  align-self: center;
}
.splittermond.dialog .list {
  background: var(--background-parchment) fixed;
}
.splittermond .list.spells img,
.splittermond .list.inventory img,
.splittermond .list.attack img,
.splittermond .list.active-defense img {
  width: 32;
  height: 32;
  flex: none;
}
.splittermond .list.spells .list,
.splittermond .list.inventory .list,
.splittermond .list.attack .list,
.splittermond .list.active-defense .list {
  margin-bottom: 7px;
}
.splittermond .list.spells label,
.splittermond .list.inventory label,
.splittermond .list.attack label,
.splittermond .list.active-defense label {
  flex: 1;
  padding-left: 7px;
}
.splittermond .list.spells .qty,
.splittermond .list.inventory .qty,
.splittermond .list.attack .qty,
.splittermond .list.active-defense .qty,
.splittermond .list.spells .load,
.splittermond .list.inventory .load,
.splittermond .list.attack .load,
.splittermond .list.active-defense .load,
.splittermond .list.spells .weapon-speed,
.splittermond .list.inventory .weapon-speed,
.splittermond .list.attack .weapon-speed,
.splittermond .list.active-defense .weapon-speed,
.splittermond .list.spells .tick-malus,
.splittermond .list.inventory .tick-malus,
.splittermond .list.attack .tick-malus,
.splittermond .list.active-defense .tick-malus,
.splittermond .list.spells .defense-bonus,
.splittermond .list.inventory .defense-bonus,
.splittermond .list.attack .defense-bonus,
.splittermond .list.active-defense .defense-bonus,
.splittermond .list.spells .damage-reduction,
.splittermond .list.inventory .damage-reduction,
.splittermond .list.attack .damage-reduction,
.splittermond .list.active-defense .damage-reduction,
.splittermond .list.spells .handicap,
.splittermond .list.inventory .handicap,
.splittermond .list.attack .handicap,
.splittermond .list.active-defense .handicap,
.splittermond .list.spells .range,
.splittermond .list.inventory .range,
.splittermond .list.attack .range,
.splittermond .list.active-defense .range,
.splittermond .list.spells .value,
.splittermond .list.inventory .value,
.splittermond .list.attack .value,
.splittermond .list.active-defense .value,
.splittermond .list.spells .difficulty,
.splittermond .list.inventory .difficulty,
.splittermond .list.attack .difficulty,
.splittermond .list.active-defense .difficulty {
  width: 3em;
}
.splittermond .list.spells .qty > *,
.splittermond .list.inventory .qty > *,
.splittermond .list.attack .qty > *,
.splittermond .list.active-defense .qty > *,
.splittermond .list.spells .load > *,
.splittermond .list.inventory .load > *,
.splittermond .list.attack .load > *,
.splittermond .list.active-defense .load > *,
.splittermond .list.spells .weapon-speed > *,
.splittermond .list.inventory .weapon-speed > *,
.splittermond .list.attack .weapon-speed > *,
.splittermond .list.active-defense .weapon-speed > *,
.splittermond .list.spells .tick-malus > *,
.splittermond .list.inventory .tick-malus > *,
.splittermond .list.attack .tick-malus > *,
.splittermond .list.active-defense .tick-malus > *,
.splittermond .list.spells .defense-bonus > *,
.splittermond .list.inventory .defense-bonus > *,
.splittermond .list.attack .defense-bonus > *,
.splittermond .list.active-defense .defense-bonus > *,
.splittermond .list.spells .damage-reduction > *,
.splittermond .list.inventory .damage-reduction > *,
.splittermond .list.attack .damage-reduction > *,
.splittermond .list.active-defense .damage-reduction > *,
.splittermond .list.spells .handicap > *,
.splittermond .list.inventory .handicap > *,
.splittermond .list.attack .handicap > *,
.splittermond .list.active-defense .handicap > *,
.splittermond .list.spells .range > *,
.splittermond .list.inventory .range > *,
.splittermond .list.attack .range > *,
.splittermond .list.active-defense .range > *,
.splittermond .list.spells .value > *,
.splittermond .list.inventory .value > *,
.splittermond .list.attack .value > *,
.splittermond .list.active-defense .value > *,
.splittermond .list.spells .difficulty > *,
.splittermond .list.inventory .difficulty > *,
.splittermond .list.attack .difficulty > *,
.splittermond .list.active-defense .difficulty > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list.spells .damage,
.splittermond .list.inventory .damage,
.splittermond .list.attack .damage,
.splittermond .list.active-defense .damage,
.splittermond .list.spells .costs,
.splittermond .list.inventory .costs,
.splittermond .list.attack .costs,
.splittermond .list.active-defense .costs,
.splittermond .list.spells .cast-duration,
.splittermond .list.inventory .cast-duration,
.splittermond .list.attack .cast-duration,
.splittermond .list.active-defense .cast-duration,
.splittermond .list.spells .effect-duration,
.splittermond .list.inventory .effect-duration,
.splittermond .list.attack .effect-duration,
.splittermond .list.active-defense .effect-duration {
  width: 6em;
}
.splittermond .list.spells .damage > *,
.splittermond .list.inventory .damage > *,
.splittermond .list.attack .damage > *,
.splittermond .list.active-defense .damage > *,
.splittermond .list.spells .costs > *,
.splittermond .list.inventory .costs > *,
.splittermond .list.attack .costs > *,
.splittermond .list.active-defense .costs > *,
.splittermond .list.spells .cast-duration > *,
.splittermond .list.inventory .cast-duration > *,
.splittermond .list.attack .cast-duration > *,
.splittermond .list.active-defense .cast-duration > *,
.splittermond .list.spells .effect-duration > *,
.splittermond .list.inventory .effect-duration > *,
.splittermond .list.attack .effect-duration > *,
.splittermond .list.active-defense .effect-duration > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list.spells .costs,
.splittermond .list.inventory .costs,
.splittermond .list.attack .costs,
.splittermond .list.active-defense .costs {
  width: 9em;
}
.splittermond .list.spells .features,
.splittermond .list.inventory .features,
.splittermond .list.attack .features,
.splittermond .list.active-defense .features {
  width: 15em;
  justify-content: flex-start;
  font-size: 12px;
}
.splittermond .list.spells .features > *,
.splittermond .list.inventory .features > *,
.splittermond .list.attack .features > *,
.splittermond .list.active-defense .features > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.splittermond .list-attributes .start,
.splittermond .list-attributes .value,
.splittermond .list-attributes .max {
  width: 35px;
  text-align: center;
}
.splittermond .list-attributes .start,
.splittermond .list-attributes .max {
  font-weight: normal;
  opacity: 0.7;
}
.splittermond .list-resources .value {
  width: 35px;
  text-align: center;
}
.splittermond .attributes {
  display: grid;
  grid-column: 1 / end;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  padding-top: 3px;
  align-items: center;
  gap: 0.5em;
}
.splittermond .attributes .attribute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-weight: bold;
}
.splittermond .attributes .attribute input {
  font-size: 18px;
  max-width: 2em;
  width: 2em;
  margin: 0;
  height: auto;
  text-align: center;
}
.splittermond .attributes .attribute label {
  width: auto;
  margin-right: 3px;
}
.splittermond .list.skills {
  max-width: 480px;
  position: relative;
}
.splittermond .list.skills label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 2px;
  margin-bottom: -2px;
}
.splittermond .list.skills .attribute,
.splittermond .list.skills .value,
.splittermond .list.skills input {
  width: 3em;
}
.splittermond .list.skills .attribute {
  text-align: center;
  color: rgba(var(--color-text-secondary), 0.5);
  font-weight: 500;
}
.splittermond .list.skills .value,
.splittermond .list.skills input {
  text-align: center;
}
.splittermond .list.skills,
.splittermond .list.masteries {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: block;
}
.splittermond .list.masteries .list-item {
  flex-direction: column;
  align-items: flex-start;
}
.splittermond .list.masteries .list-item > * {
  border: none;
  justify-content: flex-start;
}
.splittermond .list.masteries .list-item > label {
  font-weight: bold;
  z-index: 1;
}
.splittermond .list.masteries.splittermond-tooltip,
.splittermond .list.masteries#splittermond-tooltip {
  background: none;
  height: unset;
  border: none;
  overflow: unset;
  margin: 0;
  padding: 0;
}
.splittermond .list.masteries.splittermond-tooltip::before,
.splittermond .list.masteries#splittermond-tooltip::before {
  border-image-repeat: repeat;
  background: var(--background-parchment);
  margin: -3px;
}
.splittermond .list.masteries.splittermond-tooltip .list-body,
.splittermond .list.masteries#splittermond-tooltip .list-body {
  border: none;
  margin: 0;
  padding: 0;
}
.splittermond .list.masteries.splittermond-tooltip .list-item,
.splittermond .list.masteries#splittermond-tooltip .list-item {
  background: none;
}
.splittermond .list-resources .list-item {
  padding-right: 50px;
}
.splittermond .not-available {
  opacity: 0.5;
}
.splittermond .properties-editor {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3px;
  padding: 7px;
  align-items: baseline;
  width: 100%;
  min-height: 100px;
  justify-self: start;
  align-self: start;
}
.splittermond .properties-editor h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  padding: 5px;
  width: 100%;
  margin-top: 7px;
}
.splittermond .properties-editor > label {
  text-align: right;
  justify-items: start;
  padding-right: 7px;
  margin-top: 7px;
}
.solars,
.lunars,
.telars {
  border-image-outset: 1px;
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  padding-right: 0.2em;
}
.solars::before,
.lunars::before,
.telars::before {
  display: inline-block;
  content: " ";
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.2em;
  background-size: contain;
  vertical-align: middle;
}
.solars::after,
.lunars::after,
.telars::after {
  display: inline;
}
.solars input,
.lunars input,
.telars input {
  text-align: center;
  width: 3em;
}
.solars::after {
  content: "\00A0S ";
}
.lunars::after {
  content: "\00A0L ";
}
.telars::after {
  content: "\00A0T ";
}
.solars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-copper.webp);
}
.lunars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-silver.webp);
}
.telars::before {
  background-image: url(../../icons/commodities/currency/coins-assorted-mix-platinum.webp);
}
.currency {
  text-align: center;
  padding: 3px;
}
.currency .solars::before,
.currency .lunars::before,
.currency .telars::before {
  width: 1.8em;
  height: 1.8em;
}
.taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  flex: 1;
  list-style-type: none;
}
.taglist-actions {
  display: inline-flex;
  margin-left: 4px;
}
li.taglist-item {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  position: relative;
}
li.taglist-item:hover {
  background: var(--background-parchment);
}
li.taglist-item:hover .taglist-item-actions {
  opacity: 1;
}
.taglist-item-name {
  padding-left: 4px;
  padding-right: 4px;
  flex: 1;
}
.taglist-item-actions {
  background: var(--background-parchment);
  display: inline-block;
  position: absolute;
  right: -20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.compendium-browser .filter {
  align-content: center;
}
.compendium-browser .filter .row {
  align-items: center;
}
.compendium-browser .list {
  align-items: stretch;
}
.compendium-browser .list div:first-child {
  flex-direction: column;
  align-items: flex-start;
}
.compendium-browser .list .level {
  width: 80px;
  text-align: center;
}
.compendium-browser .list .skill {
  width: 100px;
  text-align: center;
}
.compendium-browser .list .damage {
  width: 60px;
  text-align: center;
}
.compendium-browser .list .available-in {
  font-family: "Signika";
  font-size: 10px;
  white-space: normal;
}
.compendium-browser .list .features {
  font-family: "Signika";
  font-size: 10px;
  white-space: normal;
}
.compendium-browser .list .compendium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}
.compendium-browser .list .compendium .id {
  font-family: "Signika";
  font-size: 10px;
}
.compendium-browser .list .taglist li {
  font-family: "Signika";
  font-size: 10px;
}
.compendium-browser .list .list-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
.tick-bar-hud {
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 110px;
  top: 60px;
  padding: 0px;
  max-width: calc(100% - 430px);
  overflow: hidden;
  background: none;
  border: none;
  box-shadow: none;
}
.tick-bar-hud-nav-btn {
  width: 32px;
  height: 64px;
  margin-top: 10px;
  color: #f0f0e0;
  background: none;
  border: none;
  font-size: 32px;
  text-shadow: 0 0 10px #000;
  box-shadow: none;
}
.tick-bar-hud-nav-btn:hover,
.tick-bar-hud-nav-btn:active,
.tick-bar-hud-nav-btn:focus {
  box-shadow: none;
  text-shadow: 0 0 10px #2D80E1;
}
.tick-bar-hud-nav-btn:first-child {
  margin-left: 10px;
}
.tick-bar-hud-ticks {
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
  -webkit-mask-image: linear-gradient(90deg, transparent 2px, #000 8px, #000000 calc(100% - 72px), transparent);
  mask-image: linear-gradient(90deg, transparent 2px, #000 8px, #000000 calc(100% - 72px), transparent);
}
.tick-bar-hud-ticks-scroll,
.tick-bar-hud-ticks-no-scroll {
  display: flex;
  position: relative;
}
.tick-bar-hud-ticks-special {
  flex-grow: unset;
  -webkit-mask-image: none;
  mask-image: none;
  overflow: visible;
  padding-left: 0px;
  padding-right: 0px;
}
.tick-bar-hud-tick {
  position: relative;
}
.tick-bar-hud-tick:not(:last-child) {
  margin-right: 8px;
}
.tick-bar-hud-tick-special-no-data {
  width: 0px;
  opacity: 0;
}
.tick-bar-hud-tick-number {
  background: url(/ui/denim075.png) repeat;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000, 0 0 5px #444 inset;
  padding: 3px;
  height: 64px;
  width: 64px;
  margin-bottom: -64px;
}
.tick-bar-hud-tick-number.current-tick {
  box-shadow: 0 0 10px #2D80E1, 0 0 5px #444 inset;
  border: 1px solid #2D80E1;
  text-shadow: 0 0 5px #2D80E1;
}
.tick-bar-hud-tick-number.current-tick span {
  text-shadow: 0 0 5px #2D80E1;
}
.tick-bar-hud-tick-number span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -15px;
  text-shadow: 0 0 5px black;
  font-family: "Vollkorn";
  font-size: 18px;
  font-weight: 600;
  font-variant-numeric: lining-nums;
}
.tick-bar-hud-tick-number-special {
  width: 128px;
}
.tick-bar-hud-combatant-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 8px;
  width: 100%;
  align-items: center;
  z-index: 1;
}
.tick-bar-hud-status-effect-list {
  position: absolute;
  right: -8px;
  top: 0px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  gap: 4px;
  width: 24px;
  align-items: center;
  z-index: 10;
}
.tick-bar-hud-combatant-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 3px #000);
}
.tick-bar-hud-combatant-list-item.active,
.tick-bar-hud-combatant-list-item:hover {
  filter: drop-shadow(0px 0px 3px #2D80E1);
}
.tick-bar-hud-combatant-list-item:not(:first-child) {
  margin-top: -38px;
}
.tick-bar-hud-combatant-list-item .token-name {
  margin-top: -12px;
}
.tick-bar-hud-combatant-list-item .token-image {
  flex: 0 0 48px;
  height: 48px;
  width: 48px;
  object-fit: cover;
  object-position: 50% 0;
  margin: 0;
  border: none;
}
.splittermond.check,
.splittermond.damage,
.splittermond.status-effect-message {
  flex-direction: column;
}
.splittermond.check header,
.splittermond.damage header,
.splittermond.status-effect-message header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.splittermond.check header img,
.splittermond.damage header img,
.splittermond.status-effect-message header img {
  margin-right: 7px;
}
.splittermond.check .roll-type,
.splittermond.damage .roll-type,
.splittermond.status-effect-message .roll-type,
.splittermond.check .difficulty,
.splittermond.damage .difficulty,
.splittermond.status-effect-message .difficulty {
  font-weight: bold;
}
.splittermond.check .roll-total,
.splittermond.damage .roll-total,
.splittermond.status-effect-message .roll-total {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: Vollkorn;
  font-variant-numeric: lining-nums;
  font-weight: bold;
  color: var(--color-fail);
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, rgba(var(--color-text-secondary_rgb), 0.3), transparent) 100% 0 100% 0;
}
.splittermond.check .degree-of-success,
.splittermond.damage .degree-of-success,
.splittermond.status-effect-message .degree-of-success {
  display: block;
  text-align: center;
  line-height: 24px;
  font-family: Vollkorn;
  color: var(--color-fail);
  font-variant-numeric: lining-nums;
}
.splittermond.check .degree-of-success .stars,
.splittermond.damage .degree-of-success .stars,
.splittermond.status-effect-message .degree-of-success .stars {
  color: #FFB800;
  text-shadow: 0px 0px 10px #FFEFC7;
}
.splittermond.check.fumble .roll-total,
.splittermond.damage.fumble .roll-total,
.splittermond.status-effect-message.fumble .roll-total {
  border-image: linear-gradient(to right, transparent, rgba(var(--color-fail_rgb), 0.3), transparent) 100% 0 100% 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(var(--color-fail_rgb), 0.15) 50%, rgba(255, 255, 255, 0) 100%);
}
.splittermond.check.success.grazing-hit .degree-of-success,
.splittermond.damage.success.grazing-hit .degree-of-success,
.splittermond.status-effect-message.success.grazing-hit .degree-of-success,
.splittermond.check.success.grazing-hit .roll-total,
.splittermond.damage.success.grazing-hit .roll-total,
.splittermond.status-effect-message.success.grazing-hit .roll-total {
  color: var(--color-grazing-hit);
}
.splittermond.check.success .degree-of-success,
.splittermond.damage.success .degree-of-success,
.splittermond.status-effect-message.success .degree-of-success,
.splittermond.check.success .roll-total,
.splittermond.damage.success .roll-total,
.splittermond.status-effect-message.success .roll-total {
  color: var(--color-success);
}
.splittermond.check.critical .roll-total,
.splittermond.damage.critical .roll-total,
.splittermond.status-effect-message.critical .roll-total {
  border-image: linear-gradient(to right, transparent, rgba(var(--color-success_rgb), 0.3), transparent) 100% 0 100% 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(var(--color-success_rgb), 0.15) 50%, rgba(255, 255, 255, 0) 100%);
}
.splittermond.check .actions,
.splittermond.damage .actions,
.splittermond.status-effect-message .actions {
  display: flex;
  flex-direction: column;
}
.splittermond.check h2,
.splittermond.damage h2,
.splittermond.status-effect-message h2 {
  font-size: 18px;
  margin-bottom: 0;
}
.splittermond.check h3,
.splittermond.damage h3,
.splittermond.status-effect-message h3 {
  font-size: 14px;
  font-family: "Vollkorn";
  font-weight: bold;
}
.splittermond.check h3::first-letter,
.splittermond.damage h3::first-letter,
.splittermond.status-effect-message h3::first-letter {
  font-size: inherit;
  line-height: inherit;
  vertical-align: inherit;
}
.splittermond.check ul.features,
.splittermond.damage ul.features,
.splittermond.status-effect-message ul.features {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-family: Signika;
  font-size: 12px;
}
.splittermond.check ul.features li,
.splittermond.damage ul.features li,
.splittermond.status-effect-message ul.features li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.splittermond.check ul.features li.active,
.splittermond.damage ul.features li.active,
.splittermond.status-effect-message ul.features li.active {
  background-color: var(--color-primary);
  color: white;
}
.splittermond.check li.maneuver,
.splittermond.damage li.maneuver,
.splittermond.status-effect-message li.maneuver {
  font-weight: bold;
}
.splittermond.check li.maneuver .description,
.splittermond.damage li.maneuver .description,
.splittermond.status-effect-message li.maneuver .description {
  font-weight: normal;
  font-family: Signika;
  font-size: normal;
  display: none;
}
.fumble-table-result-item {
  display: none;
  padding-top: 3px;
  margin-top: 3px;
  opacity: 0.7;
  border-top: 2px groove rgba(255, 255, 255, 0.3);
}
.fumble-table-result-item-active {
  display: block;
  padding-top: 7px;
  opacity: 1;
}
.fumble-table-result-item-range {
  float: right;
  opacity: 0.7;
}
ul.checkbox-list {
  display: block;
  margin: 0;
  padding: 0;
}
ul.checkbox-list li {
  display: inline;
  margin: 0;
  padding: 0;
}
ul.checkbox-list li input {
  display: none;
}
ul.checkbox-list li label {
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 3px;
  white-space: nowrap;
}
ul.checkbox-list li input ~ label {
  opacity: 0.7;
}
ul.checkbox-list li input ~ label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
}
ul.checkbox-list li input:checked ~ label {
  opacity: 1;
}
ul.checkbox-list li input:checked ~ label::before {
  content: "\f00c";
}
.token-action-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 3px;
  left: 220px;
  bottom: 0px;
  margin: 0px;
  padding: 12px;
  padding-left: 0px;
  z-index: 1;
  align-items: flex-end;
  border: none;
  border-radius: 0px;
  background: none;
  box-shadow: none;
}
.token-action-bar .rollable,
.token-action-bar .toggle-equipped,
.token-action-bar .prepare-spell {
  cursor: pointer;
}
.token-action-bar h3 {
  text-align: center;
}
.token-action-bar .skill {
  text-align: center;
}
.token-action-bar .item-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--font-size-14);
}
.token-action-bar .item-stats .item-stat {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.token-action-bar .item-stats label {
  flex-basis: 100%;
  font-size: var(--font-size-14);
}
.token-action-bar .item-stats .features {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
  width: min-content;
}
.token-action-bar .item-stats .features .feature-item {
  font-family: Signika;
  white-space: nowrap;
  background-color: var(--color-primary);
  border-radius: 3px;
  padding: 3px;
}
.token-action-bar-char-stats {
  border: none;
  border-radius: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.token-action-bar-char-stats .token-action-bar-name {
  position: absolute;
  bottom: 0px;
  font-family: "Almendra";
  width: 128px;
  font-size: 1em;
  margin-top: -100%;
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-shadow: 0 0 5px var(--color-shadow-dark);
  text-align: center;
}
.token-action-bar-defense,
.token-action-bar-skills,
.token-action-bar-attacks,
.token-action-bar-spells {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 99px;
  width: fit-content;
  position: relative;
  z-index: 1;
}
.token-action-bar-defense .token-action-bar-popup,
.token-action-bar-skills .token-action-bar-popup,
.token-action-bar-attacks .token-action-bar-popup,
.token-action-bar-spells .token-action-bar-popup {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: 100;
  bottom: 100%;
}
.token-action-bar-defense .token-action-bar-popup li.spell-header,
.token-action-bar-skills .token-action-bar-popup li.spell-header,
.token-action-bar-attacks .token-action-bar-popup li.spell-header,
.token-action-bar-spells .token-action-bar-popup li.spell-header {
  background-color: rgba(128, 128, 128, 0.1);
}
.token-action-bar-defense .token-action-bar-popup li label,
.token-action-bar-skills .token-action-bar-popup li label,
.token-action-bar-attacks .token-action-bar-popup li label,
.token-action-bar-spells .token-action-bar-popup li label,
.token-action-bar-defense .token-action-bar-popup li h3,
.token-action-bar-skills .token-action-bar-popup li h3,
.token-action-bar-attacks .token-action-bar-popup li h3,
.token-action-bar-spells .token-action-bar-popup li h3 {
  flex: 1;
  text-align: left;
  margin-bottom: 0;
}
.token-action-bar-defense .token-action-bar-popup li label,
.token-action-bar-skills .token-action-bar-popup li label,
.token-action-bar-attacks .token-action-bar-popup li label,
.token-action-bar-spells .token-action-bar-popup li label {
  cursor: pointer;
}
.token-action-bar-defense .token-action-bar-popup li div,
.token-action-bar-skills .token-action-bar-popup li div,
.token-action-bar-attacks .token-action-bar-popup li div,
.token-action-bar-spells .token-action-bar-popup li div {
  font-family: Signika;
  font-size: 12px;
  opacity: 0.7;
  text-align: center;
  width: 60px;
  white-space: nowrap;
  overflow: visible;
}
.token-action-bar-defense .token-action-bar-popup li div.costs,
.token-action-bar-skills .token-action-bar-popup li div.costs,
.token-action-bar-attacks .token-action-bar-popup li div.costs,
.token-action-bar-spells .token-action-bar-popup li div.costs {
  width: 96px;
}
.token-action-bar-defense .token-action-bar-section:hover + .token-action-bar-popup,
.token-action-bar-skills .token-action-bar-section:hover + .token-action-bar-popup,
.token-action-bar-attacks .token-action-bar-section:hover + .token-action-bar-popup,
.token-action-bar-spells .token-action-bar-section:hover + .token-action-bar-popup,
.token-action-bar-defense .token-action-bar-popup:hover,
.token-action-bar-skills .token-action-bar-popup:hover,
.token-action-bar-attacks .token-action-bar-popup:hover,
.token-action-bar-spells .token-action-bar-popup:hover {
  max-height: none;
  opacity: 1;
  overflow: unset;
  border-width: 1px;
}
.token-action-bar-defense ul,
.token-action-bar-skills ul,
.token-action-bar-attacks ul,
.token-action-bar-spells ul,
.token-action-bar-defense li,
.token-action-bar-skills li,
.token-action-bar-attacks li,
.token-action-bar-spells li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.token-action-bar-defense > ul,
.token-action-bar-skills > ul,
.token-action-bar-attacks > ul,
.token-action-bar-spells > ul {
  display: flex;
  flex-direction: row;
  gap: 3px;
  z-index: -1;
  align-items: stretch;
  position: relative;
}
.token-action-bar-defense > ul > li,
.token-action-bar-skills > ul > li,
.token-action-bar-attacks > ul > li,
.token-action-bar-spells > ul > li {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: -1;
}
.token-action-bar-defense > ul > li:hover,
.token-action-bar-skills > ul > li:hover,
.token-action-bar-attacks > ul > li:hover,
.token-action-bar-spells > ul > li:hover {
  box-shadow: inset 0px 0px 24px rgba(var(--color-active-text_rgb), 0.7);
}
.token-action-bar-defense li + .tooltip,
.token-action-bar-skills li + .tooltip,
.token-action-bar-attacks li + .tooltip,
.token-action-bar-spells li + .tooltip {
  background-image: none;
  border-image: none;
  bottom: 100%;
  padding: 10px;
  left: unset;
  right: unset;
  max-width: 300px;
  display: none;
  box-shadow: none;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  position: absolute;
  top: unset;
}
.token-action-bar-defense li:hover + .tooltip,
.token-action-bar-skills li:hover + .tooltip,
.token-action-bar-attacks li:hover + .tooltip,
.token-action-bar-spells li:hover + .tooltip {
  display: block;
  opacity: 1;
}
.token-action-bar-skills {
  z-index: 400;
}
.token-action-bar-spells {
  z-index: 300;
}
.token-action-bar-attacks {
  z-index: 200;
}
.token-action-bar-defense {
  z-index: 100;
}
.token-action-bar-attacks .token-action-bar-popup li > * {
  opacity: 0.5;
}
.token-action-bar-attacks .token-action-bar-popup li.equipped > * {
  opacity: 1;
}
.token-action-bar-attacks > ul > li {
  opacity: 0.25;
}
.token-action-bar-attacks > ul > li[data-prepared="true"] {
  opacity: 1;
}
.token-action-bar-spells > ul > li {
  height: 99px;
  width: 99px;
}
.token-action-bar-spells li.prepare-spell:not(.available) > * {
  opacity: 0.3;
}
.token-action-bar-defense > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.token-action-bar-defense > ul > li .value {
  font-size: 1.4em;
}
.token-action-bar-section {
  font-size: 1em;
  text-align: center;
  margin: 0;
  font-family: "Almendra";
  padding: 3px;
}
.token-action-bar-popup {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  border: 0 solid rgba(255, 255, 255, 0.1);
}
.token-action-bar-popup ul {
  display: flex;
  flex-direction: column;
  position: static;
  max-height: 18.6rem;
  overflow: auto;
}
.token-action-bar-popup li {
  list-style-type: none;
  width: max-content;
  min-width: 100%;
  padding: 3px;
  padding-right: 6px;
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.token-action-bar-popup li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.token-action-bar-popup li:hover {
  box-shadow: inset 0px 0px 24px rgba(var(--color-active-text_rgb), 0.7);
}
.token-action-bar-popup li + .tooltip {
  bottom: 0;
  left: 100%;
  margin-left: 3px;
}
.token-action-bar .token-action-bar-char-stats,
.token-action-bar .token-action-bar-name,
.token-action-bar .token-action-bar-popup,
.token-action-bar .tooltip,
.token-action-bar .token-action-bar-section,
.token-action-bar > div > ul > li {
  background-color: rgba(0, 0, 0, 0.8);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .token-action-bar .token-action-bar-char-stats,
  .token-action-bar .token-action-bar-name,
  .token-action-bar .token-action-bar-popup,
  .token-action-bar .tooltip,
  .token-action-bar .token-action-bar-section {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .token-action-bar .token-action-bar-char-stats:before,
  .token-action-bar .token-action-bar-name:before,
  .token-action-bar .token-action-bar-popup:before,
  .token-action-bar .tooltip:before,
  .token-action-bar .token-action-bar-section:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
.sheet.journal-entry .journal-entry-content {
  --line-height: 24px;
  --line-width: 520px;
  line-height: var(--line-height);
  background: var(--background-parchment-splittermond), var(--background-parchment);
  background-position: top right;
  background-blend-mode: var(--background-parchment-splittermond-blend-mode);
  background-clip: padding-box;
}
.sheet.journal-entry .journal-entry-content .journal-header .title {
  background: none;
  border: none;
  font-family: "Almendra SC";
  display: block;
}
.sheet.journal-entry .journal-entry-content .journal-entry-page {
  width: 100%;
}
.sheet.journal-entry .journal-entry-content .journal-page-content {
  padding-bottom: var(--line-height);
}
.sheet.journal-entry .journal-entry-content .journal-page-content > * {
  max-width: var(--line-width);
  margin-left: auto;
  margin-right: auto;
}
.sheet.journal-entry .journal-entry-content .journal-page-content h1,
.sheet.journal-entry .journal-entry-content .journal-page-content h2,
.sheet.journal-entry .journal-entry-content .journal-page-content h3,
.sheet.journal-entry .journal-entry-content .journal-page-content h4,
.sheet.journal-entry .journal-entry-content .journal-page-content h5,
.sheet.journal-entry .journal-entry-content .journal-page-content h6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: var(--line-height);
}
.sheet.journal-entry .journal-entry-content .journal-page-content h1,
.sheet.journal-entry .journal-entry-content .journal-page-content h2,
.sheet.journal-entry .journal-entry-content .journal-page-content h3 {
  max-width: fit-content;
}
.sheet.journal-entry .journal-entry-content .journal-page-content h2,
.sheet.journal-entry .journal-entry-content .journal-page-content h3,
.sheet.journal-entry .journal-entry-content .journal-page-content h4,
.sheet.journal-entry .journal-entry-content .journal-page-content h5,
.sheet.journal-entry .journal-entry-content .journal-page-content h6 {
  margin-bottom: calc(0.5*var(--line-height));
}
.sheet.journal-entry .journal-entry-content .journal-page-content table {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.sheet.journal-entry .journal-entry-content .journal-page-header h1,
.sheet.journal-entry .journal-entry-content .journal-page-header h2,
.sheet.journal-entry .journal-entry-content .journal-page-header h3,
.sheet.journal-entry .journal-entry-content .journal-page-header h4,
.sheet.journal-entry .journal-entry-content .journal-page-header h5,
.sheet.journal-entry .journal-entry-content .journal-page-header h6 {
  margin-top: var(--line-height);
}
.sheet.journal-entry .journal-entry-content h1,
.sheet.journal-entry .journal-entry-content h2,
.sheet.journal-entry .journal-entry-content h3,
.sheet.journal-entry .journal-entry-content h4,
.sheet.journal-entry .journal-entry-content h5,
.sheet.journal-entry .journal-entry-content h6 {
  font-family: "Almendra";
  font-weight: 400;
  line-height: normal;
}
.sheet.journal-entry .journal-entry-content h1,
.sheet.journal-entry .journal-entry-content h2,
.sheet.journal-entry .journal-entry-content h3 {
  font-family: "Almendra SC";
  text-align: center;
}
.sheet.journal-entry .journal-entry-content h1 {
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /*
        &::before {
            content: url(../../systems/splittermond/images/tribal-1-left.svg);
        }

        &::after {
            content: url(../../systems/splittermond/images/tribal-1-right.svg);
        }
        */
}
.sheet.journal-entry .journal-entry-content .level1 .subtitle {
  font-size: 27px;
  font-family: "Almendra";
  color: var(--color-active-text);
  text-align: center;
}
.sheet.journal-entry .journal-entry-content h2 {
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /*
        &::before {
            content: url(../../systems/splittermond/images/tribal-2-left.svg);
        }

        &::after {
            content: url(../../systems/splittermond/images/tribal-2-right.svg);
        }
        */
}
.sheet.journal-entry .journal-entry-content .level2 .subtitle {
  font-size: 22px;
  font-family: "Almendra";
  color: var(--color-active-text);
  text-align: center;
}
.sheet.journal-entry .journal-entry-content h3 {
  font-size: 27px;
}
.sheet.journal-entry .journal-entry-content .level3 .subtitle {
  font-size: 18px;
  font-family: "Vollkorn";
  color: var(--color-active-text);
  text-align: center;
}
.sheet.journal-entry .journal-entry-content h4 {
  font-size: 22px;
}
.sheet.journal-entry .journal-entry-content h5 {
  font-size: 18px;
}
.sheet.journal-entry .journal-entry-content h6 {
  font-family: "Vollkorn";
  font-size: 16px;
  font-variant: all-small-caps;
}
.sheet.journal-entry .journal-entry-content .scrollable {
  display: flex;
  justify-content: center;
}
.sheet.journal-entry .journal-entry-content article > header:first-child + section > p:not(.subtitle):first-of-type::first-letter,
.sheet.journal-entry .journal-entry-content article > header:first-child + section > p.subtitle + p::first-letter {
  line-height: calc(2 * var(--line-height));
  color: var(--color-active-text);
  margin-right: 4px;
  font-family: "Almendra SC";
  font-size: 48px;
  float: left;
}
.sheet.journal-entry .journal-entry-content p {
  margin: 0px;
  margin-top: calc(0.5 * var(--line-height));
  margin-bottom: var(--line-height);
}
.sheet.journal-entry .journal-entry-content dl {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
  align-items: baseline;
  margin-bottom: var(--line-height);
  margin-top: var(--line-height);
}
.sheet.journal-entry .journal-entry-content dl dt {
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
}
.sheet.journal-entry .journal-entry-content dl dd,
.sheet.journal-entry .journal-entry-content dl dt {
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
}
.sheet.journal-entry .journal-entry-content .box-blue {
  padding: var(--line-height);
  background: rgba(0, 133, 255, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}
.sheet.journal-entry .journal-entry-content .box-blue :first-child {
  margin-top: 0px;
}
.sheet.journal-entry .journal-entry-content .box-blue :last-child {
  margin-bottom: 0px;
}
.sheet.journal-entry .journal-entry-content .example {
  padding: var(--line-height);
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.sheet.journal-entry .journal-entry-content .example::before {
  content: "Beispiel: ";
  font-weight: bold;
}
.sheet.journal-entry .journal-entry-content .example :first-child {
  margin-top: 0px;
}
.sheet.journal-entry .journal-entry-content .example :last-child {
  margin-bottom: 0px;
}
.sheet.journal-entry .journal-entry-content table {
  border: none;
  background-color: transparent;
  margin-top: 14px;
  margin-bottom: 14px;
}
.sheet.journal-entry .journal-entry-content table th,
.sheet.journal-entry .journal-entry-content table td {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
}
.sheet.journal-entry .journal-entry-content table thead {
  background-color: transparent;
  color: var(--color-text-secondary);
  border: none;
  text-shadow: none;
  font-family: "Almendra";
  font-size: 16px;
  font-weight: 400;
}
.sheet.journal-entry .journal-entry-content table tbody {
  border-top: 1px solid var(--color-text-secondary);
  border-bottom: 1px solid var(--color-text-secondary);
}
.sheet.journal-entry .journal-entry-content blockquote {
  font-size: 18px;
  color: var(--color-active-text);
  border: none;
}
.sheet.journal-entry .journal-entry-content img.float-right {
  float: right;
  max-width: 60%;
  margin-left: var(--line-height);
  margin-bottom: var(--line-height);
  shape-margin: var(--line-height);
  margin-right: -60px;
}
.sheet.journal-entry .journal-entry-content img.float-left {
  float: left;
  max-width: 40%;
  margin-right: var(--line-height);
  margin-bottom: var(--line-height);
  shape-margin: var(--line-height);
}
.sheet.journal-entry .journal-sidebar .pages-list .level1 .headings {
  margin-left: var(--sidebar-width-collapsed);
}
.sheet.journal-entry .journal-sidebar .pages-list .level2 .headings {
  margin-left: calc(1 * var(--level-indent) + var(--sidebar-width-collapsed));
}
.sheet.journal-entry .journal-sidebar .pages-list .level3 .headings {
  margin-left: calc(2 * var(--level-indent) + var(--sidebar-width-collapsed));
}
.splittermond .list a.rollable,
.splittermond .list a.consume,
.splittermond .list a.add-tick {
  display: inline-block;
  padding: 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(var(--color-text-secondary_rgb), 0.2);
  margin-bottom: -2px;
}
.splittermond .list a.rollable:hover,
.splittermond .list a.consume:hover,
.splittermond .list a.add-tick:hover {
  text-shadow: none;
  border-bottom: 2px solid rgba(var(--color-text-secondary_rgb), 0.5);
}
.splittermond.sheet.item .tab > * {
  padding: 7px;
}
.splittermond .item-sheet-stat-block {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
  justify-content: space-around;
}
.splittermond .item-sheet-stat-block .item-sheet-stat-block-item {
  display: flex;
  flex-direction: column;
  break-inside: avoid-column;
  margin-bottom: 1em;
  color: var(--color-text-secondary);
  font-size: 18px;
}
.splittermond .item-sheet-stat-block .item-sheet-stat-block-item label {
  color: var(--color-tertiary);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.splittermond .item-sheet-stat-block .item-sheet-stat-block-item > * {
  text-align: center;
}
.splittermond.dialog.selection .window-content .dialog-buttons {
  flex-direction: column;
}
.splittermond ul.taglist-small {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-family: Signika;
  font-size: 12px;
}
.splittermond ul.taglist-small li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.splittermond ul.taglist-small li.active {
  background-color: var(--color-primary);
  color: white;
}
.splittermond.dialog-check .character-name {
  font-size: 24px;
  align-self: center;
  padding: 0.5em;
  font-family: "Almendra";
}
.splittermond.dialog-check .skill {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.splittermond.dialog-check .skill .tooltip-part {
  font-family: "Vollkorn";
  font-weight: normal;
  font-size: 14px;
}
.system-splittermond .splittermond .row {
  display: flex;
  flex-direction: row;
}
.system-splittermond .splittermond .row.flex-gap > *:not(:last-child) {
  margin-right: 7px;
}
.system-splittermond .splittermond .row.flex-gap-large > *:not(:last-child) {
  margin-right: 14px;
}
.system-splittermond .splittermond .column {
  display: flex;
  flex-direction: column;
}
.system-splittermond .splittermond .column.flex-gap > *:not(:last-child) {
  margin-bottom: 7px;
}
.system-splittermond .splittermond .column.flex-gap-large > *:not(:last-child) {
  margin-bottom: 14px;
}
.system-splittermond .splittermond .flex-wrap {
  flex-wrap: wrap;
}
.system-splittermond .splittermond .stretch {
  flex: 1;
}
.system-splittermond .splittermond main {
  padding: 0px;
}
.system-splittermond .splittermond .window-content {
  overflow-y: hidden;
}
.system-splittermond .splittermond .window-content form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.system-splittermond .splittermond .window-content form main {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.system-splittermond .splittermond main > section {
  min-height: 100px;
}
.system-splittermond .splittermond main > section.tab.active[data-tab] {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}
.system-splittermond .splittermond.sheet main > section.tab.active[data-tab] {
  display: grid;
  grid-gap: 7px;
  overflow-y: auto;
  height: 100%;
}
.system-splittermond .splittermond section[data-tab="general"] {
  z-index: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: start;
  align-content: start;
  grid-gap: 7px;
}
.system-splittermond .splittermond.npc section[data-tab="general"] {
  grid-template-columns: 200px 1fr;
}
.system-splittermond .splittermond.npc section[data-tab="general"] .list.masteries,
.system-splittermond .splittermond.npc section[data-tab="general"] .list.skills {
  overflow: unset;
}
.system-splittermond .splittermond section[data-tab="skills"] {
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  align-content: start;
  height: 100%;
  overflow-y: hidden;
}
.system-splittermond .splittermond section[data-tab="skills"] .skills {
  overflow-y: auto;
}
.system-splittermond .splittermond section[data-tab="skills"] .masteries {
  overflow-y: auto;
}
.system-splittermond .splittermond.sheet.item header {
  align-items: center;
}
.system-splittermond .splittermond.compendium-browser .list {
  overflow-y: auto;
}
.system-splittermond .splittermond.compendium-browser main > section.tab.active {
  overflow-y: hidden;
}
